Data/
src/compression/__pycache__
figures/
results/
**/.DS_Store
.DS_Store


src/imgcompressionmps.egg-info/
src/imgcompressionmps/
tests/__pycache__/
tests/core/
tests/evaluation/
tests/utils/


src/__pycache__/__init__.cpython-310.pyc
src/evaluation/__pycache__/__init__.cpython-310.pyc
src/evaluation/__pycache__/benchmark.cpython-310.pyc